<div class="container-fluid">
	
<div class="row">
	
	<div class="col-md-1"></div>
	<div class="col-md-8">
		
		<p>
	<h3>		Add Comment</h3>
		</p>
<%= render 'comment_form' %>
	</div>
	<div class="col-md-3"></div>
</div>

</div>